---
layout: base.njk
title: Hello, World!
description: "My first blog post! I wanted to write out some of my thoughts on why I think maintaining a blog is a productive use of time, and what I intend to do with my corner of the internet."
permalink: /writeups/hello-world.html
ogType: article
extraScripts:
  - /js/toc.js
  - /js/space-patrol.js
---
{%- set meta = writing | findBySlug("hello-world") -%}
<article class="post">
    <a href="/writing" class="post-back-link">&larr; back to writing</a>

    <h2 class="post-page-title">Hello, World!</h2>
    <p class="post-page-date">{{ meta.date | postDate }}</p>
    <div class="disclaimer">
        <svg class="disclaimer-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
            <line x1="12" y1="9" x2="12" y2="13"></line>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
        </svg>
        <p>This post is under construction. Please check back shortly!</p>
    </div>

    <div class="space-patrol">Meanwhile, why don't you play a game?</div>
    {%- set slug = "hello-world" -%}
    {% include "post-nav.njk" %}
</article>
