---
pagination:
  data: tags
  size: 1
  alias: tag
permalink: /writing/tag/{{ tag }}/index.html
layout: base.njk
eleventyComputed:
  title: "{{ tag }}"
---
<h2 class="page-title">Tagged: {{ tag }}</h2>

<div class="tag-back">
    <a href="/writing">&larr; all writing</a>
</div>

<div class="separator"></div>

{%- set visiblePosts = writing | visible | sortByDate -%}

<section class="blog-posts">
    <div id="all-posts-list">
        {%- for post in visiblePosts %}
        {%- if post.tags and tag in post.tags %}
        <article class="post-entry">
            <a href="/writeups/{{ post.slug }}" class="post-link">
                <h3 class="post-title">{{ post.title }}</h3>
                <p class="post-date">{{ post.date | postDate }}</p>
                {% if post.tags and post.tags.length %}
                <div class="post-tags">
                    {%- for t in post.tags %}
                    <span class="post-tag">{{ t }}</span>
                    {%- endfor %}
                </div>
                {% endif %}
                <p class="post-summary">{{ post.summary }}</p>
            </a>
        </article>
        {%- endif %}
        {%- endfor %}
    </div>
</section>
